.egg{
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    background-image: url(./egg.svg);
    background-position: center;
    animation: rotate 25s linear infinite;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.egg canvas {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}